/shelf/
/.idea/
/target/
/gateway/.mvn/
/pagamentos/.mvn/
/pedidos/.mvn/
/server/.mvn/
/gateway/mvnw
/pagamentos/mvnw
/pedidos/mvnw
/server/mvnw
/gateway/mvnw.cmd
/pagamentos/mvnw.cmd
/pedidos/mvnw.cmd
/server/mvnw.cmd
